/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root styles */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.986);
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff; /* Set the background color here */
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width:700px ;
   /* Adjust maximum width as needed */
  margin-top: 40px; /* Ensure sufficient space below the heading */
}

input {
  padding: 1rem;
  font-size: 1em;
  border: 2px solid #e4d832;
  border-radius: 8px;
  width: 100px;
  
}

input::placeholder {
  color: #666;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  font-family: inherit;
  background-color: #e4d832;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  max-width: 300px;
}



button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.forgot-password {
  font-size: 0.8em;
  color: #000000;
  font-style: italic;
  text-decoration: underline;
  text-underline-position: below;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(#e0dd0f, #e0dc0fd2, #e0dc0fd2, #e0dd0f);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
